@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}



.nav-box {
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    
}

nav div a{
    text-decoration: none;
}

.follow{
    color: #3C354F;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding:17px 0px 18px 24px;
}
.yt {
    width: 34px;
    height: 24px;
    padding: 16px 0px 16px 24px;
    
}

.tik {
    width: 24px;
    height: 24px;
   padding: 16px 24px 16px 16px;
}

.nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1920px;
    height: 130px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-1{
    display: flex;
    align-items: center;
    margin-left: 240px;
    
}

.game{
    
font-size: 45px;
font-weight: 700;
margin-left: 20px;

}

.g-color{
    color: #FF42A5;
}
.nav-2 {
    display: flex;
    align-items: center;
    margin-right: 240px;
}

.Developers, .About-Us{
    margin-right: 32px;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/*------------------------------------------------------------ Header----------------------------------------------------- */



.bg-image{
    background-image: url('images/14.png');
    width: 901px;
height: 700px;
flex-shrink: 0;
}



header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: ;
    
}



.goat-img{
    padding-right: 231px;
}


.header-title-1{
    color: #0B0223;
    text-align: center;
    
    font-size: 48px;
   
    font-weight: 600;
    
    text-transform: uppercase;
    margin-top: 148px;
}


.header-title-2{
    text-align: center;

font-size: 95px;

font-weight: 800;

text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.mini-title{
    color: #534C64;
text-align:left;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
margin-left: 280px;
}

.one{
    margin-top: 24px;
}

.two{
    margin-top:17px;
}

.three{
    margin-top:17px;
}
.btn-1{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;

border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));


color: #FFF;
font-size: 20px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

border: none;

margin-left: 280px;
margin-top:41px;
}

.btn-2{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;

border-radius: 48px;
background: #4EC5F7;

color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

border: none;

margin-left:1.2rem;
margin-top:41px;
}



























/* ----------------------------------------------Mobile_size---------------------- */


@media screen and (max-width: 425px) {

.nav{
    flex-direction: column;
    width: 0px;
    margin-top: 50px;
}

.nav-1{
    margin-left: 410px;
}
    .nav-2{
        flex-direction: column;
        margin-left: 650px;
        margin-top: 40px;
    }
.About-Us{
    margin-left: 10px;
}
    .Developers{
        margin-top: 10px;
        margin-left: 10px;
    }

    .nav-box{
        margin-top: 10px;
        margin-right: 10px;
        
    }

    header{
        flex-direction: column-reverse;
    }
    .goat-img{
        margin-top: 150px;
       width: 600px;
       padding-right:0px;
       margin: 0 auto;
    }
.bg-image{
    margin:: 10px;
}

}


/* ------------------------------------------Table_Size-------------------- */

@media screen and (min-width:426px) and (max-width:768px){
    .nav-1{
        margin-left:10px
    }

    .nav-2{
        margin-right: 10px;
    }
    .nav{
        justify-content:space-around;
        width: 765px
    }
   .nav-box{
    width: 200px;
   }
   .game{
    margin-left: 10px;
   }
   header{
    flex-direction: column-reverse;
}
.bg-image{
    
    width:650px;
}

.goat-img{
    margin-top: 150px;
   width: 600px;
   padding-right:0px;
   margin: 0 auto;
}

.mini-title{
    margin-left: 160px;
}
.btn-1{
    margin-left: 165px;
}
}